<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ProjectMobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/is"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/is"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.ProjectMobile.IntershipDetails"
            android:parentActivityName="com.example.ProjectMobile.ViewAllInterships"/>
        <activity android:name="com.example.ProjectMobile.InsertIntershipPost"
            android:parentActivityName="com.example.ProjectMobile.IntershipPosted"/>
        <activity android:name="com.example.ProjectMobile.IntershipPosted"
            android:parentActivityName="com.example.ProjectMobile.LoginIntershipRecruter"/>
        <activity android:name="com.example.ProjectMobile.ViewAllInterships"
            android:parentActivityName="com.example.ProjectMobile.MainActivity"/>
        <activity android:name="com.example.ProjectMobile.UploadActivity"
            android:parentActivityName="com.example.ProjectMobile.IntershipDetails"/>

        <activity android:name="com.example.ProjectMobile.MainActivity" />
        <activity android:name="com.example.ProjectMobile.RegisterIntershipSeeker" />
        <activity android:name="com.example.ProjectMobile.LoginIntershipRecruter" />
        <activity android:name="com.example.ProjectMobile.RegisterIntershipRecruter" />


        <activity android:name="com.example.ProjectMobile.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>